<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="PMS.dao.commentDao">

	<!-- commentList -->
	<select id="commentList" parameterType="int"
		resultType="comment">
		SELECT * FROM comment_tb WHERE sno = #{sno}
	</select>

	<select id="getTitle" resultType="string" parameterType="int">
		SELECT
		title
		FROM project p, SCHEDULE s 
		WHERE s.PNO = p.PNO 
		AND sno = #{sno}
	</select>

	<select id="getSname" resultType="string" parameterType="int">
		SELECT
		sname
		FROM schedule
		WHERE sno = #{sno}
	</select>
	
	
	<insert id="insertComment" parameterType="comment">
		insert into comment_tb
		values(seq_comm.nextval,#{pno},#{sno},
		#{content},#{writer},sysdate,sysdate)
	</insert>

	
	<!-- comment 첨부파일 등록 -->
	<insert id="insertFile" parameterType="commentfile">
	insert into File_tb values(seq_comm.currval,#{fname}, #{fpath})
	</insert>

	<!-- comment Detail -->
	<select id="getDetail" parameterType="int" resultType="comment">
		SELECT c.*, f.fname 
		FROM comment_tb c , File_tb f
		WHERE c.CNO =f.CNO(+)
		and c.cno = #{cno}
	</select>

    <!-- comment 수정 -->
	<update id="updateComment" parameterType="comment">
		update comment_tb
		set
		content = #{content},
		updte = sysdate
		where cno = #{cno}
	</update>
	
	<!-- comment 삭제 -->
	<delete id="deleteComment" parameterType="int">
		delete
		from comment_tb
		where cno = #{cno}
	</delete>

</mapper>

